{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-intro padding-y-sm">
<div class="container">
  <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
</div>
</section>

<section class="section-name padding-y-sm">
<div class="container">
<h3 class="section-title">Popular products</h3>

<div class="row">
  <div class="col-md-3">
    <div class="card card-product-grid">
      <img src="{% static 'images/items/1.jpg' %}">
      <div class="info-wrap">
        <h6>Product Name</h6>
        <div class="price">$179</div>
      </div>
    </div>
  </div>
</div>

</div>
</section>

{% endblock %}
